@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #7000FF;
    --light-text: #808080;
}

/* Global */

body {
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* section {
    padding-top: 1rem;
} */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 0.2rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* navbar */

.navbar {
    background: rgb(246, 246, 246);
    height: 65px;
}

.navbar h1 {
    font-size: 20px;
}

.navbar .flex {
    justify-content: space-between;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar h1 {
    cursor: pointer;
}

.navbar h1 span {
    color: var(--primary-color);
}

.navbar a {
    color: #333;
    margin: 10px;
}

.navbar button {
    padding: 0.2rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

/* hamburger css */

/* hide hamburger menu in desktop */
.hamburger {
    display: none;
}

.hamburger div:not(:last-child) {
    margin-bottom: 5px;   
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    width: 24px;
    height: 3px;
    background: #000;
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    background: var(--primary-color);
    top: 65px;
    width: 100%;
    height: 100%;
    left: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.hidden {
    transform: translateX(100%)
}

.mobile-menu .nav-sm {
    font-size: 20px;
}

.nav-sm ul {
    line-height: 2.6;
    padding:1rem 0 0 1rem;
}

.nav-sm a {
    color: #fff;
}

.nav-sm button {
    background-color: #fff;
    color: #000;
}

/* banner */

.banner {
    height: calc(100vh - 65px - 105px);
}

.banner-text h1 {
    font-size: 2.5rem;
}

.banner-text span {
    color: var(--primary-color);
}

.banner-text p {
    font-size: 1.8rem;
    color: #8F8F8F;
}

.banner-text {
    width: 400px;
}

.banner-text p {
    padding: 1.25rem 0;
}

.banner-image {
    display: flex;
    justify-content: right;
}

/* achievements */

.acheivements {
    background-color: var(--primary-color);
    color: #fff;
}

.acheivements .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.acheivement-item {
    display: flex;
}

.acheivement-item h1 {
    font-size: 4rem;
}

.acheivement-item p {
    font-size: 1.25rem;
    margin: auto 0 auto 10px;
    font-weight: bold;
}

/* services */

.services {
    margin-top: 173px;
}

.services .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.services-item {
    padding: 3rem;
    margin: 0 auto 1rem auto;
    text-align: center;
    border-radius: 1rem;
    height: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.services-item h3 {
    padding-top: 1.25rem;
    font-size: 1.5rem;
}

.services-item p {
    padding-top: 0.9rem;
    color: var(--light-text);
    font-size: 1.25rem;
}

/* card & guidance common styles */

.card-heading,
.guidance-heading,
.get-in-touch-heading {
    margin: 173px auto 100px auto;
    text-align: center;
}

/* .card-heading,
.guidance-heading,
.get-in-touch-heading {

} */

.card-heading h1,
.guidance-heading h1,
.get-in-touch-heading h1 {
    font-size: 2.5rem;
    text-transform:capitalize;
}

.card-heading span,
.guidance-heading span {
    color: var(--primary-color);
}

/* credit card */

.card-heading {
    max-width: 400px;
}

.card-text ul li {
    display: flex;
    gap: 0.7rem;
}

.card-text ul li:not(:last-child) {
    padding-bottom: 2rem;
}

/* guidance */

.guidance .grid {
    gap: 5rem;
}

.guidance-heading {
    max-width: 600px;
}

.guidance-items {
    margin: 0.5rem 0;
}

.guidance-item {
    padding: 3rem;
    height: 350px;
    max-width: 405px;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 8px solid var(--primary-color);
}

.guidance-item h1 {
    font-weight: 400;
    font-size: 2.5rem;
}

.guidance-item p {
    color: var(--light-text);
    padding-top: 1rem;
    font-size: 1.25rem;
}

/* get in touch */

.get-in-touch {
    max-width: auto;
    margin: auto;
    width: 600px;
}

/* space between firstname and lastname */
.get-in-touch div.grid {
    gap: 1rem;
}

/* space between form rows */
.get-in-touch form.grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.get-in-touch input {
    height: 38px;
}

.get-in-touch input,
.get-in-touch textarea {
    border: 3px solid var(--primary-color);
}

.get-in-touch .email {
    max-width: 100%;
}

.get-in-touch .form-group {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.get-in-touch button {
    width: 110px;
}

/* footer */

footer {
    margin-top: 173px;
}

footer .contacts {
    background: #F5F5F5;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 0;
}

footer .bottom-bar {
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 0;
}

.contact-item {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* 
responsive
https://youtu.be/p0bGHP-PXD4

max-width, max-heigt
never use fixed sizes
use seperate navbars

[ ] - make scroll unavailable in mobile version
[ ] - add overlay to mobile navbar
*/

@media(max-width: 1050px) {
    .services .grid {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@media (max-width: 1170px) {
    .acheivements .grid {
        gap: 2rem;
    }

    .card .grid {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .card .grid div {
        justify-self: center;
    }
}

@media (max-width: 950px) {

    /* show hamburger menu on mobile */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-lg,
    .nav-lg-btn {
        display: none;
    }

    /* banner */
    .banner {
        height: auto;
        margin-top: 5rem;
    }
    
    .banner .grid {
        grid-template-columns: 1fr;
        overflow: hidden;
        row-gap: 5rem;
    }

    .banner .banner-image {
        justify-content: center;
    }

    .banner .banner-text {
        text-align: center;
        margin: auto;
    }

    /* acheivements */

    .acheivements {
        margin-top: 5rem;
    }
    
    .acheivements .grid {
        grid-template-columns: 1fr 1fr;
    }

    .acheivement-item {
        max-width: 194px;
        margin: auto;
    }
}