<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <!-- <%= htmlWebpackPlugin.options.myPageHeader %> -->

    <!-- navbar -->
    <div class="navbar">
      <div class="container flex">
        <h1>Edge <span>Bank</span></h1>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Wealth Management</a></li>
            <li><a href="#">Credit Cards</a></li>
            <li><a href="#">Investment Banking</a></li>
          </ul>
        </nav>
        <button>Sign in</button>
      </div>
    </div>

    <!-- banner -->
    <section class="banner">
      <div class="container grid">
        <div class="banner-text">
          <h1>Simplify Your <span>Life</span></h1>
          <p>Partner with us and manage your finance and banking needs Online</p>
          <button>Join Now</button>
        </div>
        <div class="banner-image">
          <img src="" id="banner-img" alt="banner image">
        </div>
      </div>
    </section>

    <!-- acheivements -->
    <section class="acheivements">
      <div class="container grid">
        <div class="acheivement-item">
          <h1>15</h1>
          <p>Years of Experience in Banking</p>
        </div>
        <div class="acheivement-item">
          <h1>50</h1>
          <p>Millions of Annual Investments</p>
        </div>
        <div class="acheivement-item">
          <h1>12</h1>
          <p>Island Wide Branches</p>
        </div>
        <div class="acheivement-item">
          <h1>30</h1>
          <p>Plus <br/>Awards</p>
        </div>
      </div>
    </section>

  </body>
</html>